<p id="notice"><%= notice %></p>

<h1 class="form-title">Users</h1>

<table>
  <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Email</th>
      <th>Czy jest administratorem?</th>
      <th>Telefon</th>
      <th>Opis</th>
      <th>Pokaż</th>
      <th>Edytuj</th>
      <th>Usuń</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.email %></td>
        <td><%= user.is_admin %></td>
        <td><%= user.tel %></td>
        <td><%= user.description %></td>
        <td class="button-show"><%= link_to 'Show', user %></td>
        <td class="button-edit"><%= link_to 'Edit', edit_user_path(user) %></td>
        <td class="button-destroy"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="button-new-user">
  <%= link_to 'New User', new_user_path %>
</div>
