<% if admin_signed_in? %>
  <div class="row">
    <div class="col-md-1"> </div>
      <div class="col-md-10">
        <%= link_to I18n.t('topics.new_topic'), new_topic_path, class: 'btn btn-success' %>
      </div>
    <div class="col-md-1"> </div>
  </div>
<% end %>

</br>

<% @topics.each do |topic| %>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 singletopic">
      <div class="col-md-10">
        <% if admin_signed_in? %>
        <%= link_to 'Edit', edit_topic_path(topic), class: 'btn btn-warning btn-xs' %>
        <%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
        <% end %>
        <h3> <% if topic.public %>
                <% p = "[P]" else p = "" %>
              <% end %>
              <%= link_to topic.codename + p,  topic_posts_path(topic) %> 
        </h3>
      </div>
      <% if topic.posts.any? %>
        <div class="col-md-9">
            <h4> Ostatnia aktywność: <i> <%= topic.last_post.title %> </i></h4>
        </div>
        <div class="col-md-3">
          <h4> <%= topic.last_post.updated_at.strftime("%d.%m.%Y %H:%M")%> </h4>
        </div>
      <% else %>
        <div class="col-md-3">
            <h4> <%= I18n.t('topics.no_posts') %> </h4>
        </div>
      <% end %>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-12">
      <hr/>
    </div>
  </div>
<% end %>

<br>

