<a href="#login" class="w3-bar-item w3-button w3-padding-large w3-right"><%= I18n.t('login') %></a>
        <a href="#signup" class="w3-bar-item w3-button w3-padding-large w3-right"><%= I18n.t('registration') %></a>
      <div class="w3-bar w3-black w3-card-2">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large"><%= I18n.t('news') %></a>
        <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small"><%= I18n.t('about') %></a> 
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small"><%= I18n.t('contact') %></a>
        <div class="w3-dropdown-hover w3-hide-small">
      </div>
    </div>

<div class="w3-content" style="max-width:2000px;margin-top:46px">
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">OSTINATO</h2>
    <p class="w3-opacity">
    <i>Wrocławski Zespół kameralny</i></p>
  </div>
</body>
</html>

