<header>
    <div class="row" id="main-nav">
        <div class="col-md-4 vertical-align paddingRemove">
            <%= link_to (image_tag("logo.png", id: "logo")), {:controller => "/pages", :action => "show", :page => "home"} %>
            <div class="col-md-8 vertical-align" align="left">
                <div class="col-md-6 vertical-align" align="left">
                    <%= link_to :controller => "/pages", :action => "show", :page => "home" do %>
                        <h1><span class="label label-danger">Ostinato</span></h1>
                    <% end %>
                </div>
                <div class="col-md-6 vertical-align" align="left">
                </div>
            </div>
        </div>
        <div class="col-md-4" align="center">
            <div class="language" align="center">
                <%= image_tag("flag.png", id: "flag") %>
                <%= link_to_unless I18n.locale == :pl, "PL", locale: :pl %>
                <%= link_to_unless I18n.locale == :en, "EN", locale: :en %>
            </div>
        </div>
        <div class="col-md-4 logReg">
            <div class="col-md-5">
                <% unless user_signed_in? %>
                    <%= link_to I18n.t('registration'), new_user_registration_url %>
                <% end %>
            </div>
            <div class="col-md-5">
                <% if user_signed_in? %>
                    <%= link_to I18n.t('sign_out'), destroy_user_session_path, :method => :delete  %>
                <% else %>
                    <%= link_to I18n.t('login'), new_user_session_url %>
                <% end %>
            </div>
        </div>
    </div>
    <%= render 'layouts/navbar' %>           
</header>