<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tytuł</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="/assets/stylesheets/style.css">
</head>

<body>
    <div class="container-fluid main">
        <header>
            <div class="row vertical-align">
                <div class="col-xs-4 vertical-align paddingRemove">
                    <div class="col-xs-5 logoWrapper">
                        <%= link_to (image_tag("logo.jpg", class: "logo img-responsive")), {:controller => "pages", :action => "show", :page => "home"} %>
                    </div>
                    <div class="col-xs-7">
                        <%= link_to :controller => "pages", :action => "show", :page => "home" do %>
                        <h3 class="text-uppercase text-underline"><u>Ostinato</u></h3>
                        <h3>Wrocławski Zespół Kameralny</h3></a>
                         <% end %>
                    </div>
                </div>
                <div class="col-xs-4 vertical-align paddingRemove">
                    <div class="language vertical-align">
                        <%= image_tag("flag.png", height: '42', width: '42') %>
                        <%= link_to_unless I18n.locale == :pl, "PL", locale: :pl %>
                        <%= link_to_unless I18n.locale == :en, "EN", locale: :en %>
                    </div>
                </div>
                    <div class="col-xs-4 logReg">
                    <div class="col-xs-12 col-sm-5">
                        <%= link_to I18n.t('login'), {:controller => "pages", :action => "show", :page => "login" } %>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <%= link_to I18n.t('registration'), {:controller => "pages", :action => "show", :page => "login" } %>
                    </div>
                </div>
            </div>
        </header>
    </div>
    
    <%= yield %>
    <script src="/assets/javascripts/changeView.js"></script>
</body>

</html>

